


/*Over-writing line colour on Services page*/
.line-dec {
    background-color: #e27D60;
}











/* testing meet the team columns-chris */
.row > * {
    box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


/* testing footer -chris*/


#footer {
    position: relative;
    overflow: hidden;
    text-align: left;
}
.wrap {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #3E3E3E;
  color: #fff;
    font:900 14px/26px 'Open Sans', sans-serif;
  text-transform: uppercase;
}
#footer h3 a,
#footer h3 p {
    margin: 0;
  color: #fff;
    text-decoration: none;
}
.left {
    float: left;
    width: 25%;
}
.right {
    float: right;
    width: 25%;
}
.centered {
    overflow: hidden; /* claim the left over width between these 25% floats */
}
.social {
    float: right;
    width: 50%; /* of the squished parent width */
}
input {
    font-size: 100%;
}
.subscribe_button {
    margin: 0;
    padding: 14px 0;
    min-width: 200px;
    color: #fff;
    background-color: #2f2e2a;
    font:900 14px/19px 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
