
/*Over-writing css on Nav-bar*/
.headerNew {
  background-color: #3aa193;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.headerNew .headerStick {
  min-height: 80px;
}




/*Over-writing css on Services page*/
.line-service {
  width: 100px;
  height: 2px;
  /*background-color: rgba(51,204,197,0.3);*/
  margin: 30px auto;
  transition: all 0.5s;
  background-color: #e27D60;
}

.featureService {
  text-align: center;
  padding: 30px;
  border-radius: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
}

.featureService .number h6 {
  background-repeat: no-repeat;
  background-color: #e27D60;
  width: 110px;
  height: 69px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 69px;
  margin-top: -65px;
  margin-bottom: 30px;
}

/* */








/* pls dont delet testing meet the team columns-chris */
.row2 > * {
    box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}


.column2 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column2 {
    width: 100%;
    display: block;
  }
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container2 {
  padding: 0 16px;
}

.container2::after, .row2::after {
  content: "";
  clear: both;
  display: table;
}

.title2 {
  color: grey;
}

.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button2:hover {
  background-color: #555;
}


/* pls dont delet testing footer -chris*/
#footer {
    position:relative;
    overflow: hidden;
    bottom:0;
    text-align: left;
}

/*  #footer {
    position: relative;
    overflow: hidden;
    text-align: left;
} */


.wrap2 {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #3E3E3E;
  color: #fff;
    font:900 14px/26px 'Open Sans', sans-serif;
  text-transform: uppercase;
}
#footer h3 a,
#footer h3 p {
    margin: 0;
  color: #fff;
    text-decoration: none;
}
.left2 {
    float: left;
    width: 25%;
}
.right2 {
    float: right;
    width: 25%;
}
.centered2 {
    overflow: hidden; /* claim the left over width between these 25% floats */
}
.social2 {
    float: right;
    width: 50%; /* of the squished parent width */
}
input2 {
    font-size: 100%;
}
.subscribe_button2 {
    margin: 0;
    padding: 14px 0;
    min-width: 200px;
    color: #fff;
    background-color: #2f2e2a;
    font:900 14px/19px 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


/* 
---------------------------------------------
section 
--------------------------------------------- 
*/
.section-h {
  margin-bottom: 20px;
}

.section-h h6 {
  font-size: 15px;
  font-weight: 700;
  color: #c38d9e;
  text-transform: uppercase;
  margin-bottom: 15px;

}

.section-h h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #41b3a3;
  font-weight: 800;
  position: relative;
  z-index: 2;
  line-height: 45px;
}
.col-lg-3 p {
	text-align:center;
	}
.col-lg-4 {
    flex: auto;
    width: 100%;
  }
.col-lg-8 {
    flex: auto;
    width: 100%;
  }


/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/
.our-services {
  padding-top: 150px;
  
}

.our-services .section-heading {
  text-align: left;
  margin-left: 75px;
  margin-right: 75px;
}

.our-services .container-fluid {
  padding: 20px;
  width:50%;

}

.service-item {
  padding:30px 50px;
  border: 2px solid #f7f7f7;
  border-radius: 50px;
  width:100%;
  transition: all .3s;
  margin-bottom: 30px;
  box-sizing:border-box;
}

.service-item:hover {
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

}
  .service-item .right-content {
    display: none;
	text-align:center;
  }
.service-item  img {
	height:auto;
    max-width: 100%;
	width:auto;
	margin-left: auto;
    margin-right: auto;
}

.service-item h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 15px;
  text-align:center;
}
 .service-item p {
  text-align:center;
}


/*contact page*/

.contact-us {
background-image:none;}

form#contact {
  position: relative;
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 50px;
  border:5px solid #e8a87c;
  text-align: center;
}
